body {
  background-image: url(https://pplx-res.cloudinary.com/image/upload/v1743893510/user_uploads/ztwYmQBrtGMFJtG/stacked-waves-haikei-1.jpg);
  font-family: sans-serif;
  padding: 20px;
  color: white;
}

h1, h2, p {
  text-align: center;
  color: grey;
}

.menu {
  width: 80%;
  background-color: rgba(255, 255, 255, 0.1);
  margin-left: auto;
  margin-right: auto;
  padding: 20px;
  max-width: 500px;
  border: 1px solid #ccc;
}

hr {
  height: 2px;
  background-color: #808080;
  border-color: #808080;
}

a {
  color: #ddd;
}

a:visited {
  color: #ddd;
}

a:hover {
  color: #fff;
}

a:active {
  color: #fff;
}
